{{#partial "content"}}

<form  action="/search" method="post">
{{!-- Search:<input type="text" name="caption"> --}}
{{!-- <button type="submit">search</button> --}}
 <div class="search">
    <div class="search-container">
      <input type="text" id="search-bar" name="caption" placeholder="What kind of videos are you looking for?">
      <a><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
    </div>
  </div>
</form>
    <h1>List of videos</h1>
        <hr>
        <div class="row">
            {{#each uploads}}

                    <div class="col-md-6 ">
                        <div class="card">
                            <div class="card-image">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="350" height="315" src={{video}} frameborder="0" allowfullscreen></iframe>
                                </div>


                            </div><!-- card image -->

                            <div class="card-content">
                                <span class="card-title"><h3 style="color:black; font-weight:bolder">{{caption}}</h3></span>

                            </div><!-- card content -->
                            <hr>


                        </div>
                    </div>


            {{/each}}
        </div>
<style>
.search {
  display: block;
  margin-top: 50px;
  margin-left: -20px;
  width: 100%;
}

.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -20px;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>

{{/partial}}

{{>layout.hbs}}